[2014-04-05 20:46] themightychris opened #2 "design isn't responsive on mobile devices"

[2014-04-05 20:50] #2 closed, assigned to themightychris

[2014-04-06 14:32] schlos opened #4 "Feature request: notify project stakeholders on update"
Would be nice to have notification by email for project members when update is added on project page.

[2014-04-09 22:12] schlos opened #5 "Error when uploading user photo"
Database Error #1048
URI: /profile/uploadPhoto

[Full error log](http://shrib.com/H23K3rP4)

[2014-04-13 18:57] #5 closed, assigned to themightychris

[2014-04-17 05:00] hoony-o-1 opened #6 "cannot create a project by a korean title"
error message :

[code]

[2014-04-26 21:14] #6 closed, assigned to themightychris

[2014-05-04 11:05] schlos opened #10 "Feature request: Manage translation with gettext or other"
It would be nice to have feature to manage translation in separate file - [like .po and .mo translation files](http://www.icanlocalize.com/site/tutorials/how-to-translate-with-gettext-po-and-pot-files/)

In this way translation will not be affected eact time site base code is updated - in other words, translation job would be easier managed through one translation file.

Each language could exsist

[2014-06-13 02:00] jimRsmiley opened #14 "search bar on home page"
Would love to have a search bar to easily search for projects and users.

[2014-06-19 11:38] hoony-o-1 opened #17 "comments for each update"
It would be good for users to be able to comment to each update of a project.

[2014-06-26 17:41] #10 closed, assigned to themightychris

[2014-07-01 15:12] themightychris opened #26 "support multiple gettext domains"
Instead of 'site' as the default gettext domain, use a configurable default domain. Laddr's default domain could be "laddr" with a laddr.po file containing all the translations for the app itself.

Then when a brigade wants to translate some of their brochure content, they could create a separate .po file and not have to deal with merging upstream translation changes

[2014-07-08 05:11] themightychris opened #29 "support alphanumeric meetup.com ids"
Meetup event ids with letters are starting to show up in our feeds and meetup's docs say to treat their ids as strings. We use integers currently and some brigades are having problems checking into events. We need to convert all MeetupID fields to strings

[2014-07-27 18:10] themightychris opened #30 "rss feeds should be advertised"
Global and per-project updates are available via RSS feed, <link> tags should be added to pages where it is available as well as buttons in/near the footer

[2014-08-11 23:12] aramonc opened #31 "Tie into CfA API?"
Does the app already tie into the CfA API or is there any interest in adding this as a feature?

[2014-08-11 23:56] #31 closed, assigned to nobody

[2014-08-13 15:44] themightychris opened #32 "Status field for projects"
A status field for projects that anyone can change -- should post change either as an update or other form of activity in project timeline
# Possible statuses
- Commenting: Initial status for project, it's an idea people are commenting on
- Bootstrapping: People and resources are being recruiting to start
- Prototyping: Something is being built
- Testing: Something has been built and some people a

[2014-08-21 23:05] #29 closed, assigned to themightychris

[2014-09-04 15:54] themightychris opened #34 "create admin UI on profile page for promoting other users' account level"

[2014-09-07 22:21] ErnieAtLYD opened #35 "Add top margin for action success pages"
This happens after updating a project or doing anything on the profile page:

![Screenshot](https://cloud.githubusercontent.com/assets/2242224/4144415/cd188c30-33df-11e4-9d8e-6fc53d0965c8.png)

I believe this may be a laddr CSS issue. Identical issue on our github:
https://github.com/Code-for-Miami/code-for-miami.github.io/issues/22

[2014-09-17 23:55] themightychris opened #36 "embed issue finder"
Use http://www.codeforamerica.org/geeks/civicissues/embed to embed Code for Philly github issues on a "Getting Started / For Developers" page

[2014-09-20 22:16] schlos opened #37 "Link account with Github"
Would be nice to have option to link laddr account with Github account, and also login via Github

[2014-09-22 02:48] themightychris opened #38 "Login via github / twitter / facebook"
Enable sign in and account creation via github, twitter, and facebook

[2014-09-23 18:54] themightychris opened #39 "SSO integration with Discourse"
This would enable brigades to setup one or more discourse instances that members could sign into with their laddr account

Discourse SSO documentation: https://meta.discourse.org/t/official-single-sign-on-for-discourse/13045

Also, one notable shortcoming of Discourse is it doesn't have any way to create "sub-forums", but you can host multiple Discourse instances on one server. Perhaps SSO through

[2014-10-10 19:30] themightychris opened #41 "Incorporate more activity into homepage feed"
- New members (maybe chunked together)
- New projects (maybe chunked together)
- Concluded meetups with a list of all who checked in

This should probably start as a wireframe that explores how to lay all this out with the existing content cleanly. It might be cool to include or preview commenting on some or all of these items right from the feed.

[2014-10-10 19:33] themightychris opened #42 "Style blog templates"
The blogging engine is being inherited from upstream in Emergence but the frontend templates don't use bootstrap: http://laddr.io/blog

The templates involved for displaying the list of blog posts and individual blog posts could be overridden in Laddr to use bootstrap and fit in with Laddr's look

[2014-10-10 19:36] themightychris opened #43 "Design responsive email template"
A cool feature would be for laddr to send out automatic weekly/monthly newsletters to interested members.

Based on data currently available the newsletter could include:
- New blog posts since last newsletter
- New project activity and project buzz
- New members
- New projects
- Upcoming events

With extensions to the backend the newsletter could further include:
- External events we wish to prom

[2014-11-09 06:14] #39 closed, assigned to themightychris

[2014-11-16 21:49] themightychris opened #46 "create separate inputs for tech and topic tags"
Requiring users to prefix all their tags isn't working, create separate fields and strip/apply the prefixes behind the scenes.

[2014-11-17 04:47] #46 closed, assigned to themightychris

[2014-11-17 05:26] #32 closed, assigned to themightychris

[2014-12-01 01:02] #35 closed, assigned to nobody

[2014-12-03 16:53] themightychris opened #53 "Use summary instead of full body when rendering blog posts in homepage activity feed"
Default to showing the full body though if summary isn't available

[2014-12-11 16:24] ErnieAtLYD opened #54 "Project RSS feed doesn't return valid format"
When trying to add the following RSS feed to a slack channel I get the following error: "That doesn't look like a valid RSS/Atom feed."

http://projects.codeformiami.org/project-updates?format=rss&ProjectID=39

[2014-12-11 21:07] #54 closed, assigned to nobody

[2014-12-13 11:43] schlos opened #56 "Feature request: Improve "add-member" functionality based on user and project role"
Current add-member to the project functionality is allowing any users to add any other user to the project.

In order to have easy to use interface for new users, I suggest splitting this functionality based on user rights and role on project. Could be added also to "improve user roles rights" topic.

Admin user:
- add-member is working as current implementation (allow to add user by adding userna

[2014-12-13 11:59] schlos opened #57 "Users only blog posts and draft blog posts in homepage activity feed"
Homepage feed is listing publicly all blog posts marked as "login required", or ones save as a "draft".

[2014-12-13 12:21] schlos opened #58 "Feature request: Project translation for multi-languages"
As a addition to gettext support for static page content support to multiple languages (see #10), it would be good to have also ability to add project description on current and different language.

Current situation
- site gettext is supporting English, Spanish and Croatian, but project description is always available in one language

Expected situation
- beside gettext translated site static con

[2014-12-13 12:28] schlos opened #59 "Feature request: Member preference for default language on multi-language site"
As a addition to gettext support for static page content support to multiple languages (see #10), I would like to see option where Laddr member is able to select his/her language preference.

It would be also used when sending newsletter #43 or sending project updates on following/participating projects #4, so that Laddr can tell which language template, and which content language to send out.

It

[2015-01-08 23:02] schlos commented on #53
Looking good on v1.laddr.io. Thanks!

[2015-01-09 00:00] #53 closed

[2015-01-09 00:00] themightychris commented on #53
fixed upstream

[2015-01-11 01:07] schlos opened #61 "Contact form is throwing Exception"
After submitting contact form, it is returning

[code]

[2015-01-11 20:01] themightychris commented on #61
This should be fixed now, we needed to pull an email template down from upstream

[2015-01-11 20:01] #61 closed

[2015-01-11 20:47] themightychris commented on #57
fixed in 51a69d78274234f76f2dc1fbf631fb9310038866

@schlos you'll need to pull it down to your staging site

[2015-01-11 20:47] #57 closed

[2015-01-11 21:16] schlos opened #63 "Display blog drafts to user who created it"
After saving drafts it's not possible to locate it anymore.

Current:
- do not display on home page activity feed (keep current implementation)
- draft post is not displayed on blog page to user who saved it

Expected:
- show on blog page only to user who wrote draft

[2015-01-11 21:20] schlos opened #64 "Members only posts on activity feed"
Members only posts (aka "login required" posts), see #57.

Current:
- display using same rule as other posts on blog page (full post), display only to logged in users (keep current implementation)
- members only posts are not displayed on home activity feed

Expected:
- display in short form (Title and post summary) on home page activity feed only to logged in users

[2015-01-11 21:21] schlos commented on #57
Hi,
Drafts are not displayed in activity feed, thanks for that! But drafts are also not displayed on blog page, so it's hard to find again that saved draft for future re-editing. Can we have hidden draft on activity feed, and display draft on blog page only to user who saved this draft?

Can we have displayed blog posts (Title and post summary) with "Login required" on home activity feed, but only

[2015-01-11 21:21] themightychris commented on #63
There's a page for that at /drafts but we don't have a link to it anywhere in laddr yet

@schlos - do you think it would be good to just add a link to that in the userlinks section?

[2015-01-11 21:28] themightychris commented on #57
@schlos currently the home page activity is cached globally so it would be tricky to customize it or specific users. It wouldn't be too tough though to have two separate versions cached for logged in users and the public.

We could include the non-public blog posts in everyone's feed but then vary how they are rendered based on the current user (e.g. show only the summary and a message that you ha

[2015-01-11 21:29] schlos commented on #63
Cool! Sorry I missed it, didn't checked source for drafts :(

What will 'drafts' page contain?
1) only blog drafts
2) of you plan having also project drafts + blog drafts + any other future implementation?

I think in case
1) it's enough to display link to 'drafts' on /blog on the right hand to existing "Create a Post" link right under "Blog Feed" title, i.e. "My Drafts"
2) cool, and I'm giving +1

[2015-01-11 21:42] schlos commented on #57
+1 for two separate feeds (A) public and (B) pubic + members only

Displaying public feeds to non-logged in users and displaying all feeds (public + members only) to logged in users is what actually I was trying to say. Seems we're on the same page :)

Having two separate feeds seems like a right implementation.

A) Public activity feed
- is not logged in
- display only public posts

B) Pubic + me

[2015-01-11 22:17] schlos commented on #61
Thanks!
I'm not getting contact message submitted via /contact page. I've defined my email in ContactRequestHandler.config.php. Anything else needs to be setup?

[2015-01-20 22:42] bennovack opened #65 ""Be the first to comment" link doesn't work"
"Be the first to comment" link on updates on the front page of codeforphilly.org doesn't lead to a comment page, just the update page itself.

[2015-01-20 23:17] themightychris commented on #65
A comment-section-blocking chrome extension was to blame here

[2015-01-20 23:17] #65 closed

[2015-02-04 21:05] schlos opened #66 "Members avatar overlaps"
Members avatars overlaps and extends out of predicted box.

div.thumbnail 170px x 230px
div.avatar 200px x 200px

i.e. http://codeforcroatia.org/people

[2015-04-13 12:37] themightychris commented on #17
Check out how Beta.NYC integrates with Discourse for comments by creating topics within special subcategories for each content time: https://talk.beta.nyc/c/data

[2015-05-27 09:20] schlos opened #68 "Feature request: If no custom avatar, use gravatar"
When user does not upload custom avatar, use gravatar if there is one.

[2015-05-27 18:49] schlos commented on #68
Closing, I have missed it in code:
{$src = cat("//www.gravatar.com/avatar/", md5(strtolower($Person->Email)), "?s=", $pixels, "&r=g&d=mm")}

[2015-05-27 18:49] #68 closed

[2015-05-29 00:30] themightychris commented on #68
@schlos did you spot it not working anywhere in laddr?

[2015-06-24 18:13] schlos commented on #68
@themightychris no, it works, I didnt saw it working so I thought it was not implemented, but later on I found it in code and verified it's working

tnx

[2015-07-04 15:47] RowdyChildren opened #69 "Laddr doesn't like Underscores in usernames"
We have noticed that Laddr doesn't like underscores in usernames.

[2015-07-05 17:36] themightychris commented on #69
Thanks for the report @RowdyChildren -- I was able to register with one on my test site without any issue, was there somewhere post-registration where you found they caused a problem?

[2015-07-06 21:31] RowdyChildren commented on #69
it is possible, after having the user in question register again without underscores the issue presisted, I will see if maybe it is something stupid that I am doing.

[2015-07-29 07:16] schlos opened #70 "Feature request: LDAP authorization for Laddr login"
Is it possible to add LDAP as login method on Laddr?

@themightychris could you outline what is needed in order to make it happen?

Thanks!

[2015-07-31 14:45] themightychris opened #71 "Export checkins to CfA API"
See https://github.com/codeforamerica/brigade/issues/352

[2015-07-31 14:49] themightychris commented on #42
This got done a couple months ago actually, you'll need to upgrade to V2: https://codeforphilly.org/blog/momentum

[2015-07-31 14:49] #42 closed

[2015-08-01 20:06] RowdyChildren opened #72 "laddr.io Domain is expired/no longer pointing at the proper server"
The Laddr.io domain expired at some point and caused out site to produce a lot of errors.
As a workaround (at the suggestion of chris) I edited the hosts file as follows
```162.243.217.26    v1.laddr.io v2.laddr.io```
Chris also suggested modifying the config.json file for each site to point to v1.laddr.us or v2.laddr.us, but I have not tested that yet.

[2015-08-03 01:05] bennovack commented on #14
As of today there's a search bar that seems to search tags, updates, and projects - though not users.

[2015-08-03 01:07] bennovack commented on #66
Chris - you added Help Wanted *after* the fix. What's TBD?

[2015-08-03 01:11] bennovack opened #73 "Incorporate github commits into project pages"
Many projects are worked on by people not attending hack nights, or don't get good updates written up. It would be great to leverage the github API to pull recent commit activity into project pages, both to provide information and to make it easier to tell that projects are live.

(Obviously this only applies to github-based projects, but the reality is that most are.)

[2015-08-03 01:14] bennovack opened #74 "View all projects based on recent activity"
As a user looking for projects to join, or a staff member making sure that projects are active, it would be good to see projects sorted by recent activity. Activities could include:

* Check-ins at hack nights
* Written updates
* Code check-ins for github-hosted projects (see issue 73)

Basically, we can be generous for what counts as an 'update' but still rank by date of most recent activity.

[2015-08-03 03:22] themightychris commented on #73
I like this idea in theory but we need to flesh out what level of detail and how this fits in to the project page. My worry is that if we do the obvious thing and just put all the commits in the project activity stream they'll drown out the more human storytelling we want from updates/buzz/blogs. We discussed just pulling a last commit time metric, maybe we can show the last commit time somewhere,

[2015-08-03 11:53] bennovack opened #75 "Error after deleting a project"
After visiting /projects/foo/delete, I was presented with a yes/no prompt page, clicked yes, and then got an error page:

Could not find template match for "projectDeleted.tpl", checked paths:

html-templates/projects/not_in_philly/delete/projectDeleted.tpl
html-templates/projects/not_in_philly/projectDeleted.tpl
html-templates/projects/projectDeleted.tpl
html-templates/projectDeleted.tpl

The pro

[2015-08-03 11:57] bennovack commented on #73
Entirely agreed about not wanting to drown out human updates. I'd suggest  a "latest commit" at the top, possibly with the commit message, and that's all. I like the idea of an activity chart in theory but I'm not how to do one usefully for our type of project - even an active CfP project has a low commits-per-time rate compared to others. I think a chart might work best if it was also incorporati

[2015-08-03 14:42] themightychris commented on #75
This is a cosmetic issue just requiring a simple template to be setup for printing the post-delete status page. One could just copy the *Deleted.tpl for another record type and replace the nouns

[2015-08-03 15:21] themightychris commented on #14
It's currently setup so users are only included in search results if you're logged in. Maybe that policy is worth reconsidering though as the profiles are public anyway and its annoyed me as well a few times to have people not come up because I wasn't logged in

[2015-08-04 14:36] themightychris commented on #66
It got entirely busted again in v2 with the bootstrap3 upgrade: https://codeforphilly.org/people

[2015-08-16 14:10] bennovack opened #79 "contentBlock can't be edited if it's the only thing in a <section>"
If a section contains a contentBlock but nothing else, there's no way to edit the contentBlock to seed it with actual content - the empty contentBlock editing box doesn't appear.

If the section contains text, the dashed yellow lines appear, and can be clicked on to edit. Once the contentBlock is non-empty, it shows up fine.

[2015-08-16 14:52] themightychris commented on #79
@bennovack there should be a 1em min-height rule on the contentBlock div that gives you a click target even when it's empty, is that in the CSS but not working for some reason?

[2015-08-16 15:05] bennovack commented on #79
It doesn't render at all if the section has nothing at all in it. ie:

<section>
foo {contentBlock "name"}
</section>

causes a min-height contentBlock to render.

<section>
{contentBlock "name"}
</section>

nothing appears at all, *if* the contentBlock has nothing in it.

For example, see current state of http://laddr-v2-ben.poplar.phl.io/bigscreen

[2015-08-19 13:27] bennovack commented on #73
Further thoughts on implementation:

* Ideally all projects would include a CfP webhook and push update events to us. Easy for stuff in the CfP org.
* For projects that don't include the webhook, we'll have to periodically poll. Hourly?

[2015-08-19 15:03] AcriCAA commented on #73
Chiming in:

I would say publishing commit messages might be problematic. I know that
many of our messages are nonsense sometimes or just "updates". The activity
chart is a good idea though. Or perhaps just "Latest commit by [github user
name] with a link to the commit"

On Wed, Aug 19, 2015 at 9:27 AM, Ben Novack <notifications@github.com>
wrote:

[2015-08-19 15:08] bennovack commented on #73
100% agreed. Time of last push is fine; I'm really just looking for ways to
track project activity/health when people don't always show up at hack
nights, don't necessarily write blog posts, etc.

On Wed, Aug 19, 2015 at 11:04 AM, Corey Acri <notifications@github.com>
wrote:

[2015-08-19 15:12] AcriCAA commented on #73
Yeah, I think it is a great idea for that reason.

On Wed, Aug 19, 2015 at 11:08 AM, Ben Novack notifications@github.com
wrote:

[2015-08-19 22:38] titlecharacter opened #82 "Viewing projects by tech is broken"
Clicking the button to view projects by "tech" breaks the columns - multiple items appear in each row.

[2015-08-19 22:58] #82 closed, assigned to nobody

[2015-08-21 01:59] frankbellocchio opened #83 "Profile input interest error."
If you put in SQL as an interest in your profile it causes major errors and won't allow your profile to be saved. This tells me that the String error handling is not that robust. When I removed that SQL term it worked again.

[2015-08-21 03:16] themightychris commented on #83
Thanks for the report @frankbellocchio !

This appears to have to do with how topic and tech tags are implemented. "SQL" existed as a topic tag and trying to create it as a tech tag would violate a database constraint that the profile editor doesn't have a handler for. I moved SQL to be a tech tag instead of a topic tag so you should be able to add it as a technology you're interested in now.

I w

[2015-08-21 03:48] frankbellocchio commented on #83
I am generally interested in SQL as a technology and as a topic. So both
would be nice. However I changed it to technology as I thought that matched
better just like API. It could be both for me.

Is there a input rule or handler for sware words also?  Just wondering
because generally my experience with forums is that they have routines to
cleanse the input before errors. I would allow it as a top

[2015-08-21 13:36] titlecharacter commented on #83
I don't know that I have a strong opinion about 1 vs 3, but I don't think an error message is appropriate: Friendly or not, the user did nothing wrong. They said "hey, I'm interested in SQL" and they're rewarded with a weird error message about one tag among (hopefully) many. (I actually don't know that I see topics & tech as hugely different, particularly in a newbie-rich learning zone like a bri

[2015-08-21 14:09] themightychris commented on #83
I'm inclined to go with #3. They're all just tags at the end of the day,
the split is just for easier browsing. Topics are intended to be real world
domains in which problems are addressed. If someone is interested in a tech
as a topic they're just interested in the tech
On Aug 21, 2015 9:36 AM, "Ben Novack" notifications@github.com wrote:

[2015-08-22 07:37] frankbellocchio commented on #83
I could agree with that. If someone enters SQL it just becomes a tech and
the user never sees an error.
On Aug 21, 2015 10:09 AM, "Chris Alfano" notifications@github.com wrote:

[2015-08-25 21:01] titlecharacter commented on #73
Further thought about github integration: Could use it to pull in issues too, so we can enrich product pages with them and help identify where work is needed.

[2015-08-27 09:51] schlos commented on #70
Just to explain, I meant using external user database i.e. own oAuth server as a way to login to Laddr.

[2015-08-27 09:55] schlos commented on #73
It was also discussed in ticket #37
I also suggested adding Github login as option to login to Laddr

[2015-08-27 13:28] themightychris commented on #70
oAuth can't be generically implemented, it's not really an SSO protocol, a signin integration has to be built specifically for each provider. Twitter and Facebook signin is already available for emergence, @rowdychildren has started implementing them for Laddr. I'd like to add github too which there's already an open issue for it

LDAP is complex and old school, I don't see a lot of value in imple

[2015-08-28 15:58] RowdyChildren commented on #70
I am currently working on the GitHub integration, it may be a month or so before I have something that is actually working because I have limited time as I adjust to College ;)
I like the idea of linking an account instead of a "Sign Up"

[2015-09-04 14:52] RowdyChildren opened #85 "Change the way cookies are named"
At Code for Charlotte we have run into an issue with the way cookies are named on the staging/production sites what we did was simply change it from being the site name to it being and md5 hash of the site name. We are unsure if this is a global issue or only an issue we have.

[2015-09-04 14:57] themightychris commented on #85
It's only an issue when you access a staging site through a subdomain of the live site, which is quite common, but I like the idea of hashing the site name to ensure the cookie name is always unique

[2015-09-04 15:10] RowdyChildren commented on #85
That is what I did on our production and staging sites, it solved the issues. I am actually using sha1
`Session::$cookieName = sha1($_SERVER['HTTP_HOST']);` I just added that line to Session.config.php. I came up with the idea so I wouldn't have to worry about pulling the Session.config.php to the production site and wind up with a cookie collision.

[2015-09-04 15:12] themightychris commented on #85
You should use `sha1(Site::getConfig('handle'))` or `sha1(Site::getConfig('primary_hostname'))` instead.

Using HTTP_HOST means codeforcharlotte.org and www.codeforcharlotte.org wouldn't share a session

[2015-09-04 15:19] RowdyChildren commented on #85
That works much better ;)

[2015-10-01 22:08] schlos opened #86 "Different button size for Post Update in project.tpl"
Compared to next button Log Buzz, this button Post Update appear smaller.

https://qsnapnet.com/snaps/nrp3lua7u02lz0k

[code]

[2015-10-01 22:10] schlos commented on #86
Fixing button element:
https://github.com/CfABrigadePhiladelphia/laddr/blob/development/html-templates/projects/project.tpl#L95

After fixing:
https://qsnapnet.com/snaps/4aj4c2i3tplanhf

[2015-10-03 08:47] schlos commented on #26
+1

[2015-10-03 22:04] titlecharacter commented on #85
@RowdyChildren Can we close this one out?

[2015-10-03 22:06] RowdyChildren commented on #85
I am not sure if the issue ever got corrected

—
Sent from Mailbox by Riley Childs
https://rileychilds.me

On Sat, Oct 3, 2015 at 6:05 PM, Ben Novack notifications@github.com
wrote:

[2015-10-03 22:24] titlecharacter commented on #14
@jimRsmiley @themightychris We can close this, right?

[2015-10-03 22:29] titlecharacter opened #88 "Move Members filtering to Members page"
The "Members" filtering bar on the left side of the homepage would make more sense if it were shifted onto the [Members page](https://codeforphilly.org/people).
- [ ] Add Members link to top navbar
  - [ ] Move Members filtering sidebar to Members page
  - [ ] Remove Members filtering sidebar from home page

[2015-10-03 22:32] titlecharacter opened #89 "Move Projects filtering to Projects page"
The "Projects" filtering bar on the left side of the homepage would make more sense if it were shifted onto the [Projects page](https://codeforphilly.org/projects).
- [ ] Add Projects link to top navbar
  - [ ] Move Projects filtering sidebar to Members page
  - [ ] Remove Projects filtering sidebar from home page

Code for Charlotte's already done this with their laddr instance, might be a good s

[2015-10-03 22:36] titlecharacter opened #90 "Sort the Stages list"
Stages are currently listed by how many projects are in each stage; it would be more useful if they were listed by "maturity" level instead:

Hibernating
Drifting
Commeting
Bootstrapping
Prototyping
Testing
Maintaining

(@themightychris, could you confirm above order is as intended?)

[2015-10-03 22:38] titlecharacter opened #91 "Add descriptions of stages"
As someone interested in projects, I want to know what these "stages" mean. What's bootstrapping mean? What's the difference between drifting and hibernating?

Descriptions should be added to:

[ ] The Projects filtering sidebar
[ ] The "status bar" that each project has

[2015-10-03 22:40] titlecharacter opened #92 "Sort the Stages list"
Stages are currently listed by how many projects are in each stage; it would be more useful if they were listed by "maturity" level instead:

Hibernating
Drifting
Commeting
Bootstrapping
Prototyping
Testing
Maintaining

(@themightychris, could you confirm above order is as intended?)

[2015-10-03 22:48] #92 closed, assigned to nobody

[2015-10-03 23:05] titlecharacter opened #93 "Display tags under/alongside each project"
Tags (Topics, technology, and events) aren't listed on the Projects page or the page for that project. This makes it harder for people to identify the kinds of projects that might interest them.

[ ] Technology, topics, and events listed for each project on Projects page
[ ] Technology, topics, and events listed for each project on that project's individual page

[2015-10-03 23:08] titlecharacter opened #94 "Display Stages on Projects Page"
The Projects page lumps in all projects that match the current filtering, but doesn't display Status, which makes it harder for newcomers to find projects that interest them. It would be better if each project displayed its status (Maintaining, Hibernating, etc.)

[2015-10-03 23:10] titlecharacter opened #95 "Status bar on Project page is broken"
Each project page has a Status bar that looks like it should grow as a project moves through the stages of development - but it doesn't.

[2015-10-03 23:13] titlecharacter opened #96 "Highlight Founders/Maintainers for Project pages"
People looking to join a project often need/want to contact the current project team to find out status, details, how they can help, etc. That's hard because it isn't clear who to contact among a large team.

It would help if Founders and Maintainers were listed first (and maybe even highlighted somehow?) on the list of team members.

[2015-10-03 23:22] titlecharacter opened #97 "Truncate really long Readmes on Projects page"
The Projects page includes each project's entire Readme, which can get... long. Like really long. Truncating after a reasonable length would make the whole Projects list a lot more readable.

[2015-10-03 23:45] laurenancona commented on #97
Clearly having a Saturday night like mine, eh? <3

[2015-10-04 02:40] skiverk commented on #14
Yup, search is working.

Although you have to know that you can scroll down on iOS. I've attached a
screenshot showing no search ATM, you have to scroll down.

Jim

On Sat, Oct 3, 2015 at 6:24 PM Ben Novack notifications@github.com wrote:

[2015-10-04 18:59] titlecharacter opened #98 "Projects page: Allow multiple filters to be “active” at one time(eg ‘tech’, ‘stages’, ‘events’, ‘topics’). Show those filters on the screen to the user."
The projects page currently can only be viewed by one tag, stage, etc at a time. A member may, though, be looking for a combination of tags, or may be interested in more than one stage.

For example: "I want to find javascript projects that are not drifting or hibernating."

[2015-10-04 18:59] titlecharacter commented on #98
This would also set the stage for filtering projects out from default views that are "dead" in some respect (vaguely defined, never went anywhere, etc) but that we don't actually want to _delete._

[2015-10-08 08:58] schlos opened #99 "Upgrading from v1 to v2 made special characters appear wrong"
After upgrading, some texts were saved/converted in wrong char encoding, for example:

https://qsnapnet.com/snaps/lcsr9frkjmtxzux

Is there a way to fix it retroactively or to apply fix in code so that it does not happen when somebody else upgrades from v1 to v2?

[2015-10-11 11:38] AcriCAA opened #101 "Buzz Not Appearing"
Tried to log buzz for CyclePhilly project.  Did not receive any error messages but it never appeared on the project page or home page.  When I tried to resubmit it for the same article, it said that buzz had already been logged for the link provided.

[2015-10-11 23:37] themightychris commented on #101
@AcriCAA Buzz get inserted into timelines at their publication date, not the date you logged them. So if you were backfilling something from a few months ago it might be way down in your feed. See if you can scroll down and find it, or search for it from the search box. Let me know if that turns out to be the case

[2015-10-11 23:43] AcriCAA commented on #101
Ahhh. Thanks. I found it. However, It's showing a Jan. 10 publication date
even though it was 10/5/2015.

https://codeforphilly.org/project-buzz/cyclephilly_wins_code_for_america_technology_award

Also I've been noticing some random Euro € type characters showing up in
posts. There's one in this one. Not sure if it could possibly be related.

On Sun, Oct 11, 2015 at 7:37 PM Chris Alfano notificati

[2015-10-12 20:49] schlos commented on #99
I saw same characters problem in codeforphilly.org

https://qsnapnet.com/snaps/5yoqs8pc1lymbo6
https://qsnapnet.com/snaps/kbvzyv3gpjw3tyb

All snaps: https://qsnapnet.com/folders/lzgzdbb1ezbbj4i

[2015-10-14 14:55] schlos opened #102 "Blog not appearing"
New blog created:
http://codeforcroatia.org/blog/open_zagreb_hack_night-2
- is not appearing on list of blogs: http://codeforcroatia.org/blog/
- is not appearing on frontpage timeline: http://codeforcroatia.org/

[2015-10-15 07:40] schlos commented on #102
@themightychris it is displayed now both on jomepage feed as well in blog feed:
http://codeforcroatia.org/blog

Was it you?

[2015-10-17 21:39] schlos commented on #102
May be timezone issue.

[2015-10-18 20:37] #86 closed, assigned to nobody

[2015-10-18 20:38] titlecharacter commented on #72
Corrected by switching to laddr.us, correct? (@themightychris)

[2015-10-18 20:41] themightychris commented on #72
Yep, might re-register the .io one day when it opens for re-registration,
the registrar screwed us over and lost it to the ether
On Oct 18, 2015 4:38 PM, "Ben Novack" notifications@github.com wrote:

[2015-10-18 20:42] #72 closed

[2015-10-20 14:32] bnovack opened #107 "Hide link buttons when empty"
Projects that don't have a Public or Developer site entered get unhelpful "links" that just loop back to the project page. They should be hidden if no value is provided.

[2015-10-20 16:07] themightychris opened #108 "Merge Tag class override upstream into emergence-skeleton"
After #106 gets merged, open a PR against emergence-skeleton to get the Tag class enhancement upstream so it can be removed from laddr.

[2015-10-20 18:35] #97 closed, assigned to bennovack

[2015-10-20 18:36] schlos commented on #107
Hi Ben!
I cant reproduce it on Laddr v2.
For me, on codeforcroatia.org when dev link or public link is empty, no buttons are displayed.

[2015-10-20 18:36] #94 closed, assigned to bennovack

[2015-10-20 18:37] #75 closed

[2015-10-20 19:18] titlecharacter commented on #107
Looks like (at least on codeforphilly) it only affects individual project
pages, not the /projects list. Easy fix, just didn't want to forget about
it.

On Tue, Oct 20, 2015 at 2:36 PM, Miroslav notifications@github.com wrote:

[2015-10-21 01:44] titlecharacter opened #109 "Bootstrapize project edit page"
Not nearly as pretty as it should be, is it?

[2015-10-21 01:44] titlecharacter opened #110 "Bootstrapize profile view/edit pages"
They're clunkier than they need to be, and inconsistent with the look of the rest of the site.

[2015-10-21 13:41] #93 closed, assigned to bennovack

[2015-10-22 20:02] schlos commented on #96
+1

[2015-10-22 20:12] schlos opened #111 "New team member onboarding process"
We're missing clear process of adding new people on project i.e. "I want to join team" and "Team member wants to add new person".

"I want to join team" process should notify (via email) founder/maintainer/owner of project.

When "team member adds new user to the team" Laddr should send email notification to user "You've been added to the %project_name%".

[2015-10-23 06:56] schlos opened #112 "Gateway timeout / Bad gateway"
Sometimes server is not available:

IP Address: 162.243.217.26
Type: Web Server
Last Status: 7 - HTTP error from web server
HTTP Status: HTTP/1.1 502 Bad Gateway
Response Time: 0.003903

What we can do to fix it long term?

[2015-10-23 15:44] titlecharacter commented on #66
Fixed in development and on live sites.

[2015-10-23 15:44] #66 closed

[2015-10-23 15:48] titlecharacter commented on #17
One downside of Discourse for this purpose is that it creates a topic for every single page it's embedded in; it seems reasonable to have a topic per project but per update could get cluttered/confusing.

https://meta.discourse.org/t/embedding-discourse-comments-via-javascript/31963

[2015-10-23 18:16] themightychris commented on #17
The clutter can be avoided by stashing all the auto-created topics in a specific category or sub-category, but my current thinking is I'd rather the commenting be implemented directly in laddr like it is for blog posts so that every instance of laddr isn't crippled until it has a discourse companion. Discourse is a lot more complex to setup and expensive to maintain/operate, but would be a nice op

[2015-10-25 07:44] schlos opened #114 "Language switcher is not working in Laddr v2"
I.e.
http://staging.codeforcroatia.org
http://codeforcroatia.org

Switching to Croatian is not displaying translated strings.

Did anything changed in v2?

Translation gettext pot file in use is:
/locale/hr_HR.utf8/site.po

[2015-10-25 12:08] schlos opened #115 "Blog post with login required"
Version: Laddr v2

When blog post with visibility set to "Login required" is accessed by non-logged in visitor, exception occured.

i.e. http://staging.codeforcroatia.org/blog/this_is_notice_for_members

_Fatal error: Call to a member function hasAccountLevel() on a non-object in /emergence/sites/cfc-staging/data/2498 on line 122_

[2015-10-26 20:35] titlecharacter opened #116 "Display tags on profile pages"
Brigade members are asked in their signup & profile to identify what topics and tech they're interested in. You can filter the members page by these tags, but they're not actually displayed on profile pages. For example, [this](https://codeforphilly.org/people/chris) profile should make it clear that the user is interested in tech like PHP, and topics including Education and Transit.

[2015-10-28 13:38] titlecharacter opened #117 "Simplify first-timer check-in process"
Right now checking in is a bit unwieldy for first-time visitors:

1) Find (small) check-in button on unfamiliar website
2) Click (small) Create Account link on login page
3) Create account with password, profile, etc
4) Checked in?

This process can probably be simplified and smoothed out. Some ideas off the top of my head:
- Maybe Check-in page language could from "login/create account" to "I've

[2015-10-29 00:39] ondrae opened #118 "Expose stage and tags at /projects.csv"
Laddr projects now have stages! Great, we've added support for those in the [CfAPI](https://github.com/codeforamerica/cfapi). We'll consume them if you start exposing them in the csv you share with us at https://codeforphilly.org/projects.csv.

The attribute we use for stages is `status`. We've also got support for a comma separated list of `tags`. The docs are at https://github.com/codeforamerica

[2015-10-30 00:45] titlecharacter commented on #99
https://digwp.com/2011/07/clean-up-weird-characters-in-database/ This may help in cleaning up. Hoping to take a look at this shortly

[2015-11-01 20:51] titlecharacter opened #122 "Add support for non-Meetup event sources"
Google events are the most likely candidate; Probably this would mean adding support for .ics format. Good in principle and in theory, priority depends on how much actual demand there is among current/prospective Laddr users.

[2015-11-02 03:44] laurenancona commented on #95
Eh, I built out the UI element for them back when I started the revamp of project pages for Laddr, but I think those changes got pushed to prod before anyone actually wired them up to the back end.

[2015-11-02 12:32] themightychris commented on #95
I pushed everything on your dev site into git, I must have just never
noticed the bar wasn't dynamic yet
On Nov 1, 2015 10:44 PM, "Lauren Ancona" notifications@github.com wrote:

[2015-11-02 16:11] titlecharacter commented on #95
Now that we're talking about simplifying the formal project status
structure significantly (Idea/In Progress/Deployed, with maybe a side flag
for abandoned/dormant) I wonder if a progress bar is even the best way to
represent that.

On Mon, Nov 2, 2015 at 7:32 AM, Chris Alfano notifications@github.com
wrote:

[2015-11-02 17:05] themightychris commented on #95
I think it would still be valuable as an illustration of how they relate to
each other, out just gets better with the stages simplified
On Nov 2, 2015 11:12 AM, "Ben Novack" notifications@github.com wrote:

[2015-11-02 17:41] laurenancona commented on #95
I was totally on board with fewer statuses (statii?). Another reason for the bar was economy of real estate while still illustrating scale. Plus it gives a little interest to what otherwise can be a fairly dry view, visually.

[2015-11-06 01:26] titlecharacter opened #123 "Add a "Participate" (or join) button to projects"
Projects should really have a "join" button that:
- Adds the user to the project
- Emails the Maintainer to let them know

[2015-11-06 02:22] themightychris commented on #123
@bennovack see #56

[2015-11-06 02:24] themightychris commented on #123
@bennovack I really like @schlos's suggestion that users would only ever request to join projects, and then the maintainer would process that and designate a role for them

[2015-11-06 02:25] titlecharacter commented on #123
What would you imagine if the maintainer has lost interest, never responds, etc?

On Thu, Nov 5, 2015 at 9:24 PM, Chris Alfano notifications@github.com
wrote:

[2015-11-06 02:38] themightychris commented on #123
Good question. Maybe the number + duration of pending applications could be a good metric for brigade admins to spot inactive maintainers and either designate a new maintainer or update the project status. A project without an active and visible maintainer isn't going to get anywhere anyway so maybe this would offer a good forcing effect for that.

Also, brigade admins would have the same capabili

[2015-12-06 19:44] themightychris commented on #85
@RowdyChildren @bennovack this was fixed upstream in JarvusInnovations/emergence-skeleton@eea4b03db621c5395c9c1dedd6e5428e4e1cfc84

I've pulled it to v2.laddr.us and v1.laddr.us

[2015-12-06 19:44] #85 closed, assigned to nobody

[2015-12-13 22:44] schlos commented on #122
+1

We dont use Meetup and for scheduling future events, we use Google Calendar.

[2015-12-30 02:39] themightychris opened #125 "Remove hardcoded codeforphilly link from "Discuss" link in site header"

[2016-01-01 22:48] schlos commented on #99
@bennovack thanks for the tip!
I'm testing workaround by replacing characters on database level, seems to be working:
e.g. UPDATE projects SET Title = REPLACE(Title, 'Ä‡', 'ć');

[2016-01-01 22:48] #99 closed, assigned to nobody

[2016-01-02 03:30] themightychris commented on #99
@schlos are you able to input extended characters on the site now and they show up correctly on display and on edit?

[2016-01-02 08:56] schlos commented on #99
Hi @themightychris
Problem was not saving special characters in v2, but historic, already present characters that were stored in v1, somehow after upgrading to v2 they were scrambled in db.

On edit - after saving, chars where stored properly.

Any new text with special characters are displayed good after saving in v2.

So only I will do now (after testing on staging db) - is to replace all scramb

[2016-01-02 12:36] schlos commented on #99
This is script I've used:
[replace_characters_script.sql.zip](https://github.com/CfABrigadePhiladelphia/laddr/files/76227/replace_characters_script.sql.zip)

[2016-01-03 21:31] #118 closed, assigned to bennovack

[2016-01-03 21:36] themightychris commented on #118
@ondrae are there any standard values for status?

[2016-01-03 22:06] #116 closed, assigned to bennovack

[2016-01-03 22:06] #112 closed, assigned to nobody

[2016-01-03 22:06] #107 closed, assigned to nobody

[2016-01-03 22:07] #108 closed, assigned to themightychris

[2016-01-04 01:02] themightychris opened #128 "Add class="lead" to main paragraphs in each template"

[2016-01-04 03:58] ondrae commented on #118
Hi @themightychris @bennovack

We're starting with four statuses.
- Experiment
- Alpha
- Beta
- Official

The explanation for them is at http://www.codeforamerica.org/brigade/projects/stages while the guide for how to use them is at https://github.com/codeforamerica/brigade/blob/master/README-Project-Search.md

You can use a different status if you like, it will still show up in our project search

[2016-01-04 21:55] schlos opened #129 "Edit my name"
When editing my name, I cannot change my FirstName and LastName (missing fields for that - maybe by purpose?).

screenshot:
https://qsnapnet.com/snaps/wl5qmlu0sy8pvi

[2016-01-11 18:19] titlecharacter opened #130 "Add slack channel to project pages"
Would be great for projects to be able to list the slack channel they work in. ie, yadaguru has #yadaguru, which is at https://codeforphilly.slack.com/messages/yadaguru/.

[2016-01-12 16:58] schlos opened #131 "Editing blog text in WYSIWYG Markdown editor"
Suggestion:
https://github.com/sofish/pen

Demo:
http://sofish.github.io/pen/

[2016-01-12 17:00] themightychris commented on #131
Ooo this editor looks good, I've been for one that's constrained to markdown and filters out any pasted HTML effectively, thanks for the suggestion!

[2016-01-12 17:01] themightychris commented on #131
and it's raw JS <3

[2016-01-13 02:01] yoavzohar opened #132 "Changes to the website header"
1) Make the overlay of the logo with the slogan longer so it will cover the bright light on the right!
![code for philly](https://cloud.githubusercontent.com/assets/16676913/12282727/6b6d98f2-b96e-11e5-8a17-a1c29fb6e171.jpg)

2) The slogan "Making Philadelphia a better place to live, work, and play through technology" should be in one line!

[2016-01-13 23:00] themightychris commented on #132
Thanks for the suggestion @yoavzohar !

This has prompted us to look first at replacing that photo with a collection of photos from our events, we'll revisit this after that to see if any other changes will be needed

[2016-01-14 00:06] yoavzohar opened #133 "Add Meetup Logo after "Next Meetup" & "Future Meetups""
Add Meetup Logo after "Next Meetup" & "Future Meetups" (see picture below)

![code for philly1](https://cloud.githubusercontent.com/assets/16676913/12311806/d0716dd2-ba27-11e5-9cb2-e77cd89579da.jpg)

[2016-01-15 01:00] yoavzohar commented on #132
I agree that replacing the photo will result in other changes
But till then, if this minor fix can be done as an intermediate solution in less than 10 minutes, in my opinion it is worth doing.

[2016-01-16 22:38] schlos commented on #130
:+1:

[2016-01-16 22:39] schlos commented on #114
This is fixed in cfc-staging and cfc production, closing

[2016-01-16 22:39] #114 closed, assigned to nobody

[2016-01-16 22:40] schlos commented on #102
This is fixed on cfc-staging and cfc production, so closing this issue

[2016-01-16 22:40] #102 closed, assigned to nobody

[2016-01-25 23:48] themightychris opened #134 "Allow project maintainer to manage members"
The manage members modal that permits changing maintainer and removing members currently is only accessible to site staff. The maintainer of a project should also be able to access it

[2016-01-26 20:18] schlos opened #135 "Feature - add login straight on header bar"
Currently:
https://qsnapnet.com/snaps/qdri7zbuaoqadcx

Expected:
https://qsnapnet.com/snaps/cpmndjaveiiwl8f

All snaps: https://qsnapnet.com/folders/x6pbvqb6ciitqpv

In this way it would be easier for users to login in fewer clicks (no need to open /login/ page).

Related to this change:
Since there is limited space, this maybe require that Search functionality to be displayed only to logged in us

[2016-01-26 20:31] themightychris commented on #135
I like the idea but we have a search box up there already, and I think we'd also want a register button up there too if there's going to be a signin button. I think the search box has more value taking up the space, especially considering that Laddr sets its signin cookies to 1 year so most people won't be logging in again every time they visit the site.

Maybe a good compromise would be having th

[2016-01-26 21:12] schlos commented on #135
Yes, I agree, search is needed.

I like this login in modal (drop-down like) window, example:
https://qsnapnet.com/snaps/wbtr0sfa1r7zm2t

Code snippit:
http://www.bootply.com/60886

[2016-01-31 19:38] schlos opened #136 "Feature: allow using of predefined code for dev link and user link"
It would be useful if user could define dev URL and user URL once (in dedicated fields) and in project description those values could be called by using tags.

I.e.
Dev URL: https://github.com/codeforcroatia/legal-imamopravoznati
User URL: http://legal.imamopravoznati.org/

In Description when mentioning Dev URL, or User URL, it can be used one of following tags: {laddr_dev_url} {laddr_user_url}.

[2016-01-31 20:07] schlos opened #137 "Markdown blockquote"
Some markdown codes are not working, so I'm wondering if this is bug or feature (intended to work like this)?

I.e. Blockquote is not working:

[code]

[2016-02-03 23:41] themightychris opened #138 "Merge in "events" feature"
- [ ] Merge ideas and events from https://github.com/CfABrigadePhiladelphia/appsforphilly.org into laddr
- [ ] Migrate data into codeforphilly.org
- [ ] Make projects linkable to events
- [ ] Migrate projects' event tags to linked events, backfilling events for hackathons as needed

[2016-02-08 09:23] schlos opened #139 "Emergence pull tool on CfC"
I've pulled all changes from staging to production (cfc), but new pages (checkin/open-zagreb and checkin/code-for-croatia) are not available on production.

Screen from develop editor on production:
https://qsnapnet.com/snaps/q3r4kpnv5n1xlxr
it's missing custom folder in staging.cfodeforcroatia.org /checkin.

How can I pull it on production?

Thanks!

[2016-02-08 16:59] themightychris commented on #139
@schlos in its default configuration, an emergence site employes a download-on-read strategy to lazily download and store content from the parent site as-needed. The pull tool does not mirror the parent site, but rather only updates already-downloaded files that have new versions.

Another tool, `/site-admin/precache` can be used to discover and download all content for all or part of the parent s

[2016-02-08 16:59] #139 closed, assigned to nobody

[2016-02-10 00:21] yoavzohar opened #140 ""Contact Us""
https://codeforphilly.org/contact
The whole concept of HOW a user "Contact Us" through our Web Site should be re-evaluated.
Please add who receives the "Contact Us" request .....

[2016-02-11 21:27] schlos commented on #138
+1

[2016-02-11 21:30] schlos commented on #137
I've just have example where Markdown Preview function and after MD is save is displayed differenty in those 2 places.
- MD in text editor preview:

https://qsnapnet.com/snaps/rat2esvyfqfcrf6
- MD after saving:

https://qsnapnet.com/snaps/7epvmwg5x50cnmi

Notice how quote sign and other special characters are displayed in code block.

[2016-03-08 23:00] schlos opened #141 "User with phone num not able to login"
User has registered and entered mobile phone number. Later on, he is not been able to login (exception will be thrown, see attached screenshot).

![8e7062bc6baefb6b1e3b56a4eb848ccd334e53b74a647a7d634682d8ef461196](https://cloud.githubusercontent.com/assets/1014134/13619537/dd7de252-e589-11e5-8537-f41b503a031a.jpg)

Reproducible on production CfC and also on staging environment:
http://staging.code

[2016-03-09 13:48] yoavzohar opened #142 "A special page for “Newcomers""
Create a special page for “Newcomers" with a roadmap for newbies
The roadmap should have specific steps
Something like
1) Join our MeetUp group and RSVP to the next 101 orientation
2) Quick and easy registration to our site so we can have your eMail address
3) Check our Existing Active Working Projects (A, B, C,)
4) ......

[2016-04-12 19:05] #14 closed

[2016-05-25 00:44] themightychris commented on #142
We've started adding content to our register page to make it more of a "How to get started" page than just a form to create an account

[2016-05-25 18:17] yoavzohar opened #146 "The About -> Mission Page is Missing!"
The About -> Mission Page is Missing!
https://codeforphilly.org/pages/mission
"This page you requested doesn't exist"

[2016-05-26 13:33] themightychris commented on #146
Good catch, fixed

[2016-05-26 13:33] #146 closed, assigned to nobody

[2016-08-30 21:24] themightychris opened #148 "Layout responsive events list and event details pages"
As part of #138 two new pages are being added to laddr:
- Browse Events: http://laddr-v2-dev.poplar.phl.io/events
- Event Details
  - Upcoming event we'll be promoting: http://laddr-v2-dev.poplar.phl.io/events/city-as-a-service-2016
  - Recent event with full schedule input: http://laddr-v2-dev.poplar.phl.io/events/sustainability-2015

Here's a fully-featured event on the old site we're deprecatin

[2016-09-22 20:14] schlos opened #149 "Recaptcha on Contact us page"
Is it possible to include recaptcha on Contact Us page?

Saw it's already there on staging:
http://staging.codeforphilly.org/contact

[2016-09-22 21:39] schlos commented on #115
Not reproducible anymore in v2.3.1 (I think this is the version currently on staging).

Working correctly, e.g.:
http://staging.codeforcroatia.org/blog/this_is_only_for_members

[2016-09-22 21:39] #115 closed, assigned to nobody

[2016-09-22 21:40] schlos commented on #142
See also: Simplify first-timer check-in process #117 and New team member onboarding process #111

[2016-09-22 21:42] schlos commented on #101
Hi @AcriCAA , could you close this ticket if it's not reproducible anymore?
Thanks!

[2016-09-22 21:46] schlos commented on #89
@bennovack this has already been added, right?

Currently:
- Projects link in top navbar
- projects filtering added to /projects
- projects filtering removed from home sidebar

[2016-09-22 21:47] schlos commented on #88
@bennovack this has already been added, right?

Currently:
- Members link in top navbar
- members filtering added to /people
- members filtering removed from home sidebar

[2016-09-22 22:05] schlos commented on #64
To Update (Laddr v2.3.1), members only blog posts are not listed on home page.

[2016-09-26 00:20] themightychris commented on #149
@schlos yep, I just committed that today actually

[2016-09-26 00:20] #149 closed, assigned to nobody

[2016-09-26 14:01] themightychris commented on #64
@schlos this is intentional currently as the homepage feed is cached globally. Perhaps though there could be two caches -- one for the public and one for members

[2016-09-26 14:01] themightychris commented on #88
@schlos yep, good catch!

[2016-09-26 14:01] #88 closed, assigned to nobody

[2016-09-26 14:02] themightychris commented on #89
@schlos yep, again good catch, thanks!

[2016-09-26 14:02] #89 closed, assigned to nobody

[2016-10-11 23:44] #129 closed, assigned to nobody

[2016-11-23 21:54] schlos opened #157 "Chat channel minus sign not allowed"
Although minus sign is allowed in channel name in Slack, site validation does not allow minus "-" sign in chat channel name.

I think it should be allowed.

Line: https://github.com/CodeForPhilly/laddr/blob/9848bfb24a61c0a24c0159bdc55f51b985f35e9e/html-templates/projects/projectEdit.tpl#L54

[2016-11-29 14:44] #157 closed, assigned to nobody

[2016-12-10 11:37] schlos opened #160 "ProjectBuzz title in search results"
**Current:**
When searching for term, results for buzzes show always "Laddr\ProjectBuzz #xx"

Example:
![test code for croatia staging](https://cloud.githubusercontent.com/assets/1014134/21073039/2721d59c-bed5-11e6-8f81-e028570682c7.jpg)

Test link: http://staging.codeforcroatia.org/search?q=test

**Expected:**
Project Buzz results should show at least Project name if not Buzz title, same as for U

[2016-12-10 12:21] schlos commented on #133
How do you like this:

![code for croatia staging](https://cloud.githubusercontent.com/assets/1014134/21073331/5a4656f4-bedb-11e6-8d54-f4f9baffac95.jpg)

Note: meetup.com has [rebranded](http://blog.meetup.com/meetup-rebrand/) their logo. This is their new logo.

Code:
<i style="color:#dd3333" class="fa fa-meetup" aria-hidden="true"></i>

If it's fine, let me know and I'll pull it upstream.

[2016-12-10 12:38] schlos commented on #148
@themightychris could you give me permissions to edit this event on http://laddr-v2-dev.poplar.phl.io/events/sustainability-2015 ? Username is "schlos"
How do you add segments? On Code for Croatia Staging, when adding new/editing existing event I dont see Segments option.

[2016-12-10 15:50] yoavzohar commented on #133
Looks good
You can pull it upstream

[2016-12-10 21:01] schlos commented on #130
@themightychris this is already added (with de6fd34, 7572933, 4e757ea9844ce613903b359c76c2a594de4ba3b1), so I guess this ticket can be closed?

[2017-01-25 01:38] rmcmillen50 opened #163 "Create New Project Page: Add content space for future "how to" copy."
Soon, I want to put "getting started advice and instructions" on the Create New Project page. So all we need is the editable markdown 'widget' / area right between the page header and the start of the form.

[2017-01-25 01:39] rmcmillen50 commented on #163
Assigning Chris hoping that he can very easily knock this one out sooner than later.

[2017-01-25 01:46] rmcmillen50 opened #164 "New Filter that only Admins can apply to projects - but available to all when browsing projects"
**As a:**
- Code for Philly organizer
- Interested in helping new volunteers find projects

**I want**
- A new "Volunteers Wanted" _filterable project atribute_ created
- That is usable when anyone browses the site,
- but can only be applied to projects when an Admin chooses to do so.

**So that**
- new members can find projects that are actively interested in onboarding new volunteers
- and that

[2017-01-25 01:52] rmcmillen50 opened #165 "Projects / New Projects - Give option of importing Github README files into C4P project description"
As as Code for Philly organizer, I want to make it easy as possible to create & maintain projects on cfp.org, so that project entries are kept fresh.

Providing project managers the opportunity to upload / actively link a previously written README or CONTRIBUTING file directly from GitHub into their project's code4philly.org readme.md section would reduce the admin overhead involved in keeping bot

[2017-02-21 02:04] themightychris opened #166 "Create a profile field or "announcement" for new job attributable to brigade"
Many members end up in new jobs because of their involvement with the brigade, we should provide a way for members to share when that happens (or that it already happened). This could create a badge in someone's profile, add them to some sort of wall, and give the brigade much-needed metrics on ROI for sponsors

[2017-02-22 01:45] #95 closed, assigned to nobody

[2017-02-22 02:12] themightychris commented on #160
Fixed in 168bd1f

[2017-02-22 02:12] #160 closed, assigned to nobody

[2017-03-02 01:52] rmcmillen50 commented on #123
I've looked through #56 too, @themightychris. I've also thought about our idea of creating "help wanted job postings" inspired by the site: https://openopps.digitalgov.gov/. I've determined that would be overkill for a "version 1" attempt.

Instead, let's start by adding a "participate button" that would sit next to "add" (which btw, I think we should hide unless you're a maintainer) button - whic

[2017-03-05 09:48] schlos opened #168 "Meetup.com down causes Laddr site to be down completely"
**Precondition:**
Has ongoing meetup event
Has ongoing meetup.com maintenance

**Current problem:**
Laddr site is down

Error:

[code]

When checking meetup API URL it returns:

https://api.meetup.com/2/events?offset=0&format=json&limited_events=False&group_urlname=HrOpen&photo-host=public&page=20&fields=&order=time&desc=false&status=upcoming&sig_id=**********

`{"errors":[{"code":"maintenance","m

[2017-03-05 15:42] themightychris commented on #168
FIxed in #169

[2017-03-05 15:42] #168 closed, assigned to nobody

[2017-03-08 00:05] rmcmillen50 commented on #98
https://codeforphilly.org/projects

[2017-03-09 13:13] aharley40 commented on #98
@rmcmillen50 How about adding a tiny plus on each filter, with a hover bubble saying 'Combine Filter'?

[2017-03-09 13:16] aharley40 commented on #163
@rmcmillen50 After our discussion, I think it'd be faster to request hard-coded solutions if we'd want the project edit page headers to change. Is there a copy ready or could we close this and reopen a new ticket for the copy change?

[2017-03-09 13:25] aharley40 commented on #165
@rmcmillen50 It looks like we have a markdown field that supports a readme field. I think we should go with the following solutions:

- Detect Github url's in the "URL for Developers:" field on the project edit page
- If detected, Show 'Sync README.md'
-'Sync README.md' button pops up confirm window to overwrite current read me field
-Ajax request to github fills in field

If you agree, I'll get s

[2017-03-09 13:26] rmcmillen50 commented on #98
Yes, and...... Ideally we show something similar to say, LinkedIn or any job search site, where the user sees all the active filters in play. Let me see if I can attach this screenshot mockup I just made!

[2017-03-09 13:27] rmcmillen50 commented on #98
![image](https://cloud.githubusercontent.com/assets/7006568/23752165/307b156e-04a2-11e7-8f06-676cf950ac76.png)

[2017-03-09 13:29] rmcmillen50 commented on #98
so @aharley40, I added the "plus signs" you mentioned (well, that i think you meant :) ) on the left hand side. Then I suggest we add a horizontal section above the list of projects that shows what active filters are being used. You mentioned the "combine filters" idea.... I think we should just combine filters by default if I user clicks multiple. Then, the visual X's on each active filter would

[2017-03-09 13:30] rmcmillen50 commented on #163
@aharley40 to make sure i'm following you accurately, you're saying if I wanted to add 3 sentences of body text below, the "Create new project" header, we ought to just hard code it to that page? If so that's cool as I doubt we'll need to change this very often.

[2017-03-09 13:34] rmcmillen50 commented on #165
that sounds amazing @aharley40 !!

[2017-03-09 13:44] aharley40 commented on #164
@rmcmillen50 I don't think we could implement this before finding solutions to #123.

- Do we already have mockups/user stories for a project-member-management page?
  - If yes, could you send them over?
  - If no, how about the following:
    - List similar rounded profile images with names on page titled "Members"
    - Elements vertical in order include:
      - Circular Photo
      - Name

[2017-03-09 13:51] aharley40 commented on #98
Good Idea. I'll add a bubble to the top displaying the currently used tags. I could only include the deletion x's if we use the combine filter idea. Currently, clicking a filter causes a page refresh, and, I don't think the user will expect it to combine unless explicitly told. I think it'd be easier on the user to display help bubbles as they hover over the icons to add or delete the filter from

[2017-03-09 13:52] aharley40 commented on #163
If it'll be the same thing every is supposed to see when creating/editing a project then yup.

[2017-03-09 14:01] aharley40 commented on #130
@themightychris bump^

[2017-03-09 14:55] rmcmillen50 commented on #98
well - to be clear - I think the most ideal experience is async project results updating when a user selects additional filters to their "query". So page doesn't refresh, just the project results section. The platform would be essentially assuming each additional tag is adding a new WHERE  (AND) clause condition to the SQL.

[2017-03-09 15:39] #130 closed, assigned to nobody

[2017-03-21 23:20] themightychris commented on #163
@aharley40 let's insert a staff-editable markdown content block like the announcement section on the homepage has

[2017-03-21 23:21] themightychris commented on #164
I feel like a simple on/off "volunteers wanted" might not go far enough to be useful, check out the "project needs" column in the feature roadmap which is an extension of this idea: https://github.com/CodeForPhilly/laddr/projects/1

[2017-03-21 23:31] aharley40 commented on #163
@themightychris Gotcha

[2017-03-22 03:37] rmcmillen50 commented on #163
I thought there was a complexity with doing that @aharley40? That's what I initially asked for and we discussed, no?

[2017-03-22 03:43] rmcmillen50 commented on #164
@themightychris - I don't disagree, but I want to learn our way into this. Goal number 1a is to let users know which projects are actively seeking help. Goal 1b -from an internal admin perspective - is to control that value so that we validate that projects are ready and able to really solicit for new volunteers. This speaks to our "validated project" status that Dawn and I want to experiment with

[2017-03-26 19:02] aharley40 commented on #163
@rmcmillen50 Apologies, I'd only ever seen the admin level view, and didn't know the home screen was configurable in the same way.

[2017-03-26 19:23] aharley40 commented on #163
@rmcmillen50 Available for review at laddr.harley.dev after you've added the following to your host file 138.197.115.229 >harley.dev. If you have your own laddr instance, the branch is issues/163.

[2017-03-26 21:48] aharley40 commented on #165
@rmcmillen50 Available for review at laddr2.harley.dev after you've added the following to your host file 138.197.115.229 >harley.dev. If you have your own laddr instance, the branch is issues/165.

[2017-03-28 12:02] rmcmillen50 commented on #165
Hi @aharley40 - I successfully added that link to my host file, but now I'm receiving a ERR_CONNECTION_REFUSED message. Any thoughts?

[2017-03-28 12:11] rmcmillen50 commented on #165
also, fyi - I've added the following to my host files and using a ping command I can see the laddr2.harley.dev is going to your IP address above.

138.197.115.229		harley.dev
138.197.115.229 	laddr.harley.dev
138.197.115.229 	laddr2.harley.dev

[2017-03-31 05:01] schlos opened #171 "Members page crashing browser"
When members page has a lot users with pictures, it crashes browser when loading.

Solution as suggested by Chris:
- add page numbering on members list page and show on one page 50 entries

[2017-04-09 10:07] schlos opened #172 "Regular user does not have permission to add new page"
Path:
http://codeforcroatia.org/pages

Problem:
Regular user does not have permission to add new page

Solution:
Remove "Add new page" button to regular users

[2017-04-09 17:16] themightychris commented on #171
Fixed by 32014c34

[2017-04-09 17:16] #171 closed, assigned to nobody

[2017-04-09 17:17] themightychris commented on #172
Fixed by 2483fa9b

[2017-04-09 17:17] #172 closed, assigned to nobody

[2017-04-09 21:12] themightychris commented on #37
The development branch has initial support for linking an existing account to a GitHub account and storing an access token with user+repo scope

[2017-07-20 00:16] rmcmillen50 opened #174 "Create new Leadership & Support Team Open Roles page"
We need a new page on CodeforPhilly.org that advertises open leadership and support team positions.

- Like the current Leadership page, this new page should include a single column view of multiple markdown areas.
- The goal is to have the page header in blue, followed by two major sections of markdown - an area for Leadership Team positions and a 2nd area for support team
- Separate markdown are

[2017-07-20 13:49] themightychris commented on #174
If this is all you need, you can create it with the built-in CMS tools. Just login and go to /pages

[2017-07-20 13:51] rmcmillen50 commented on #174
Cool. i had no idea. Will try at lunch today and let you know if I run into issues.

[2017-08-16 11:56] #174 closed, assigned to themightychris

[2017-08-29 17:11] themightychris commented on #163
Resolved in 74b44192204c4d10a31b3ebb16d85223e1e85eaa and pushed live to cfp.org

[2017-08-29 17:11] #163 closed, assigned to themightychris

[2017-10-14 20:52] themightychris opened #178 "Make project URL an explicit field"
Create an explicit field in the project edit template for defining the handle (e.g. `http://codeforphilly.org/projects/{handle}`)

Use JS to auto-populated based on title

When editing an existing project, reveal a note that a redirect will be created after the handle is edited. Create the redirect automatically on save

[2017-10-19 20:44] schlos opened #179 "New Recaptcha version"
Got email:

your website is still using reCAPTCHA v1, which will be turned off on March 31, 2018.
--
We announced the reCAPTCHA v1 deprecation in May 2016. Starting in November 2017, a small percentage of reCAPTCHA v1 traffic will begin to show a notice informing users that the old API will soon be retired. Any calls to the v1 API will not work after March 31, 2018.
To ensure continued functionali

[2018-01-17 01:08] themightychris opened #181 "Move project stage filter to checkboxes"
The /projects browser currently shows "Stages" as a 4th tab within the same UI used to filter projects by tags for topics/tech/events:

<img width="311" alt="screen shot 2018-01-16 at 7 56 46 pm" src="https://user-images.githubusercontent.com/458494/35019923-776bfb18-faf7-11e7-80b7-37aa2a1efc75.png">

Remove this 4th tab and instead list out all the stages as checkbox options ABOVE the tags widget

[2018-01-17 01:11] themightychris opened #182 "Show list of tech, topic, and events tags in project summary tiles"
On the browse projects page, add lines to each project's summary box listing out all tags as links that can be clicked to filter the projects list by that tag.

<img width="890" alt="screen shot 2018-01-16 at 8 12 18 pm" src="https://user-images.githubusercontent.com/458494/35020333-95db5ed4-faf9-11e7-81bf-542b19cd7e91.png">

The user profile page provides template markup that would make for a goo

[2018-02-14 00:07] themightychris commented on #182
Use "labels" for now and we'll convert to pill badges in the move to bootstrap 4 https://getbootstrap.com/docs/3.3/components/#labels

Place between title and README block

[2018-03-06 19:49] APrioriRainbows commented on #116
![](https://github.trello.services/images/mini-trello-icon.png) [Redesign project/user tags system](https://trello.com/c/Swu24GNm/6-redesign-project-user-tags-system)

[2018-03-06 19:50] APrioriRainbows commented on #182
![](https://github.trello.services/images/mini-trello-icon.png) [Redesign project/user tags system](https://trello.com/c/Swu24GNm/6-redesign-project-user-tags-system)

[2018-03-06 19:50] APrioriRainbows commented on #93
![](https://github.trello.services/images/mini-trello-icon.png) [Redesign project/user tags system](https://trello.com/c/Swu24GNm/6-redesign-project-user-tags-system)

[2018-03-07 14:49] themightychris opened #183 "Style search results"
The live search results popup needs some bootstrap 4 love:

<img width="312" alt="screen shot 2018-03-07 at 9 47 31 am" src="https://user-images.githubusercontent.com/458494/37098770-b5592920-21ec-11e8-9642-0d8cf31aca97.png">

[2018-03-07 14:52] themightychris opened #184 "Style events list"
Events list needs bootstrap v4 love:

<img width="428" alt="screen shot 2018-03-07 at 9 47 37 am" src="https://user-images.githubusercontent.com/458494/37098995-48d9adbe-21ed-11e8-9cb7-cdee1a5147b6.png">

[2018-03-07 14:57] themightychris opened #185 "Style project selector for event checkin"
The selector in this form needs some bootstrap v4 love, it uses bootstrap-combo which might need to be upgraded

<img width="809" alt="screen shot 2018-03-07 at 9 47 52 am" src="https://user-images.githubusercontent.com/458494/37099157-b1d17c48-21ed-11e8-95e3-d69c7f974941.png">

[2018-03-07 14:59] themightychris opened #186 "Restore tag fields"
The tag fields on the project edit page and profile edit page rely on bootstrap-tagsinput and typeahead, which probably need some updating to work well with bootstrap v4

<img width="854" alt="screen shot 2018-03-07 at 9 57 53 am" src="https://user-images.githubusercontent.com/458494/37099375-2015f0c6-21ee-11e8-8a54-03d77706719b.png">

[2018-03-13 17:33] alexgleason opened #187 "Ask for the user's consent before creating them a Slack account"
I'm referring specifically to codeforphilly.org's install; I'm not sure how much the running version diverts from this codebase.

Basically, Slack has a [privacy policy](https://slack.com/privacy-policy) and [terms of service](https://slack.com/terms-of-service/user) that users implicitly agree to when they create a Slack account. codeforphilly.org creates the user a Slack account upon their regis

[2018-03-13 18:02] themightychris commented on #187
Good suggestion. The slack account isn't created until you first try to access slack. Unfortunately we don't currently have a record of whether users have a slack account already or not, with the SSO integration we just tell slack who is authenticated when asked and it handles either creating a new account or authenticating an existing account from the data we send (name, username, and email). IIR

[2018-03-13 18:28] alexgleason commented on #187
That didn't happen for me. I clicked the link (expecting to find more information about the chat) and instead it threw me directly into the application with an account made.

I think this would solve the problem at a bare minimum level. If you force users to tick a checkbox acknowledging that they accept this, even better.

Okay, I can imagine why. That said, I don't think we need a complex permis

[2018-03-13 22:21] themightychris commented on #187
There's also Discourse integration that we use for http://forum.codeforphilly.org/

That's a proprietary protocol. We also support SAML2 which could be used for Google Apps and others but we're not yet using that. The user is not aware in any of the SSO flows what's happening unless we insert a screen and tell them. It is designed to be an entirely seamless and transparent process if they're alrea

[2018-03-13 22:28] alexgleason commented on #187
Why is the Discourse integration proprietary? Discourse is [GPLv2+ licensed](https://github.com/discourse/discourse/blob/master/COPYRIGHT.txt).

[2018-03-13 22:36] themightychris commented on #187
Maybe proprietary isn't the best word, it's bespoke to discourse rather than using SAML

[2018-03-13 22:49] alexgleason commented on #187
Okay, I'm not too concerned about Discourse. It didn't bother me at all when codeforphilly.org created me a Discourse account automatically. I'm assuming it's self-hosted and run by the same people who are running the laddr install. I mean, maybe it would be nice to include some sort of privacy policy that basically says you won't sell peoples' data, but I'd rather take my chances with a local civ

[2018-03-19 19:55] APrioriRainbows commented on #183
![](https://github.trello.services/images/mini-trello-icon.png) [Migrate Laddr to Bootstrap 4](https://trello.com/c/OnMsg7ym/2-migrate-laddr-to-bootstrap-4)

[2018-03-19 19:55] APrioriRainbows commented on #184
![](https://github.trello.services/images/mini-trello-icon.png) [Migrate Laddr to Bootstrap 4](https://trello.com/c/OnMsg7ym/2-migrate-laddr-to-bootstrap-4)

[2018-03-19 19:55] APrioriRainbows commented on #185
![](https://github.trello.services/images/mini-trello-icon.png) [Migrate Laddr to Bootstrap 4](https://trello.com/c/OnMsg7ym/2-migrate-laddr-to-bootstrap-4)

[2018-03-19 19:55] APrioriRainbows commented on #186
![](https://github.trello.services/images/mini-trello-icon.png) [Migrate Laddr to Bootstrap 4](https://trello.com/c/OnMsg7ym/2-migrate-laddr-to-bootstrap-4)

[2018-04-05 07:52] schlos commented on #133
@themightychris This can be closed since it was added with https://github.com/schlos/laddr/commit/b82a10aaf4be54b3306cb0874cf2cd84cd2fcbf5

[2018-04-05 07:55] schlos commented on #73
Worth checking "on-the-githubs":
https://github.com/kvz/on-the-githubs

Demo:
https://kvz.github.io/on-the-githubs/#repos/kvz/nsfailover

[2018-04-05 15:15] themightychris commented on #73
@schlos thanks for sharing! I really like the formatting they use, I think it would be good to replicate how they present the grouped timeline.

We have some initial GitHub integration in the code, at least enough to make API calls about particular projects, there's a demo of this capability on this page (only on cfp.org currently) http://codeforphilly.org/projects-activity

That screen is looking

[2018-04-08 14:16] #133 closed, assigned to nobody

[2018-04-09 23:13] APrioriRainbows opened #189 "Users can edit newsletter preferences in their profile"

[2018-04-10 00:41] chriscauley commented on #185
I can't find this on the site. According to my best search it looks like it is in the home page. how can I trigger it?

[2018-04-10 16:21] themightychris commented on #185
Doh! I was supposed to document that in this issue, append `?force_current=1` on the home page to force the site to recognize the next event as currently happening @chriscauley

[2018-04-10 16:21] themightychris commented on #189
This is in testing on cfp but pending merge into laddr

[2018-04-12 02:11] ki9us opened #190 "Ability to Delete Accounts"
Users should be able to delete their accounts.

[2018-04-12 02:18] ki9us commented on #189
I uncheck the subscribe button and click save and the box is rechecked on refresh.  Feels like the first level of hell.

[2018-04-12 02:20] ki9us commented on #189
talking about production btw

[2018-04-12 02:32] themightychris commented on #190
Accounts can be **disabled** currently, and we can and should add the option for users to self-disable their account (which removes them from most views), but we cannot allow people to retroactively remove data that has been contributed to the public domain or de-attribute it. For example, if someone has posted projects or posted updates to projects, that content belongs to the community. That's t

[2018-04-12 08:57] schlos opened #191 "Web Upgrade: ga.js / dc.js to analytics.js"
Laddr is currently using ga.js for Google Analytics:

Universal Analytics is the new operating standard for Google Analytics; however, many sites and applications still use outdated tracking libraries to send data to Google Analytics.

It is strongly recommended that you upgrade to use a Universal Analytics tracking library such as analytics.js or the latest mobile SDKs for Android and iOS.

Guide

[2018-04-12 09:02] schlos opened #192 "Show Cookie banner"
ePrivacy Directive (ePR) or EU Cookie Law requires showing cookie banner. Full legislation name is Directive 2009/136/EC, see full text at http://eur-lex.europa.eu/legal-content/EN/TXT/ELI/?eliuri=eli:dir:2009:136:oj.

Info: http://ec.europa.eu/ipg/basics/legal/cookies/index_en.htm

[2018-04-12 09:06] schlos opened #193 "Show Cookie declaration and ask for consent before user tracking"
Due to GDPR and EU Data Protection law, beside previously required showing cookie banner (#192), we now have to ask for user consent before tracking cookies are activated.

The following requirements in the General Data Protection Regulation (GDPR) and the ePrivacy Directive (ePR) has to be implemented:

* Prior consent on other than strictly necessary cookies (ePR)
* Prior consent on personal dat

[2018-04-12 09:18] schlos commented on #193
Example of cookie declaration page generated by CookieBot:
[Cookies — Code for Croatia.pdf](https://github.com/CodeForPhilly/laddr/files/1902295/Cookies.Code.for.Croatia.pdf)

[2018-04-12 15:43] themightychris commented on #193
Is every cookie considered a "tracking cookie" even though we're not an ad network reading people's visits to 3rd-party websites? Is this really just required for any login functionality at all? Isn't the act of logging into a website already pretty explicitly asking the website to track who you are between pages within that site?

Either way if it's required for EU compliance let's figure it out,

[2018-04-12 20:21] themightychris commented on #189
It's working for me on desktop and mobile chrome, can anyone else reproduce?

@keith24 thanks so much for the report, I suspect you're not the only person who has encountered this. Can you let me know what specific browser and platform you are using?

[2018-04-13 21:13] ki9us commented on #189
Strange.  It's chrome 65 for Android.  I'm looking at [codeforphilly.org/profile](https://codeforphilly.org/profile?status=saved).  The box rechecks itself no matter which "Save profile" button I tap.  Changes to my name, email, or phone are working fine.

[2018-04-14 16:30] themightychris commented on #189
We're using a hidden form input preceding the check input so that a value gets sent both when the checkbox is checked and when it isn't. AFAIK this is a universally supported technique. It is necessary because the profile backend only makes changes to posted fields, so absent values don't get interpreted as a request to change them to off.

I can't reproduce in my own test on chrome for Android. I

[2018-04-14 23:51] themightychris commented on #189
Ahh I found the issue, I never marked the field as user-editable so it worked for me due to my staff access.

I fixed that and turned the newsletter off for everyone who has hit save on their profile since the newsletter went out -- 17 people. Many of them hit save multiple times, indicating it likely they were trying to update the newsletter field. It's possible some of these people just updated

[2018-04-14 23:51] #189 closed, assigned to nobody

[2018-04-21 07:48] schlos commented on #193
I'll try to sum up my findings and then I will post them here. Some similar discussion is going at https://github.com/insites/cookieconsent/issues/242

[2018-04-23 15:54] themightychris commented on #193
@schlos thanks schlos! I read through that discussion but it's hard to know who's right... I choose to like the position that for purely functional cookies no new workflows are required :-) Looking forward to hearing what you gather from it all

[2018-04-29 01:22] APrioriRainbows opened #194 "Add Member field off Edit Project doesn't auto-populate"
Should do a lookup as the user is typing. Currently you have to know the person's full username to add them.
![screenshot 2018-04-28 at 9 20 06 pm](https://user-images.githubusercontent.com/14030441/39402329-2388861e-4b2a-11e8-9465-e0a24dbe55bf.png)

[2018-04-29 01:22] APrioriRainbows commented on #194
@themightychris Any ideas on why this is? I'm using chrome (and most plugins/forms work on chrome) so I think this is probably a bug...

[2018-05-01 14:07] themightychris commented on #194
@APrioriRainbows it's not really a bug...just a feature that never existed. We don't have a username lookup field configured anywhere on the site yet that could be copied over. We could make use of the same typeahead control that the project selector for checkin uses pretty quickly probably

I've used select2 on some projects recently, it might be another option worth considering. It could replace

[2019-01-22 07:16] themightychris opened #196 "Remove recaptcha support"
It's been merged into skeleton-v1 and can be removed from laddr

[2019-02-06 07:30] themightychris commented on #196
I began by removing the recaptcha library from #199 , need to review whether other events/configs can be removed too and to verify that the recaptcha templates in laddr work with upstream

[2019-02-08 18:16] themightychris opened #203 "Add unfurl metadata to major URLs"
For projects, updates, blog posts, and buzzes: add metadata tags to the page templates so that Slack and Discourse unfurl links into quality previews

[2019-02-27 00:24] marcelkooi commented on #183
This is what I'm seeing in the `features/bootstrap4` branch. Is there any more work to do here?

<img width="327" alt="screen shot 2019-02-26 at 7 16 51 pm" src="https://user-images.githubusercontent.com/13142719/53456361-219d2780-39fc-11e9-8503-ef2fe40ba378.png">

[2019-02-27 00:46] marcelkooi commented on #183
Handled in https://github.com/CodeForPhilly/laddr/pull/197

[2019-02-27 00:46] #183 closed, assigned to chriscauley

[2019-02-27 00:46] marcelkooi commented on #184
Handled in https://github.com/CodeForPhilly/laddr/pull/197

[2019-02-27 00:46] #184 closed, assigned to chriscauley

[2019-02-27 00:50] themightychris commented on #185
Here's where that component lives: https://github.com/danielfarrell/bootstrap-combobox

[2019-02-27 00:55] marcelkooi commented on #185
Bootstrap 4 branch: https://github.com/danielfarrell/bootstrap-combobox/pull/263

[2019-08-21 01:31] themightychris opened #212 "Update meetup feed integration"
The API we were using to pull a list of events has been deprecated, we need some new integration. Maybe with a nice web-based auth flow?

[2019-08-28 02:29] themightychris commented on #212
Pending approval for their oauth2 consumer API... in the meantime, the feed works now via ical

[2019-08-28 02:29] #212 closed, assigned to nobody

[2019-12-19 17:10] themightychris opened #216 "Idea: integrate with brigade GitHub org to automate setting up repositories for projects"
Such a feature would be in position to help propagate best practices:

- initialize readme, license, community health files
- set up a basic master/develop branching scheme with branch protecting/review configured
- initialize code-for-america and code-for-philly GitHub tags
- set up issue templates and labels
- optionally, initialize an application template for a selected tech stack that's ready

[2020-01-01 11:53] schlos commented on #190
It's also an GDPR requirement (to allow account removal or depersonalization of private data)

[2020-01-01 21:44] themightychris commented on #190
@schlos any idea how that applies to something like project history? When someone makes edits/contributions to a public project, the work they've contributed seems pretty clearly to not be personal data, but where I get lost is how attribution/auditing fits in with GDPR.

Laddr is going to move towards using a public git repository as the database for project data, so if people create/edit project

[2020-01-02 08:22] schlos commented on #190
That's a good point @themightychris !

Organisation (i.e. Code for Philly, Code for Croatia, etc) as a Data Controller has obligation to do whatever is in their power to enable/support Erasure of Personal Data when Data Subject requests it.

All Laddr versions (if I'm not mistaken) currently supports erasing user accounts (from members page), now the questions are:
* does erased account data still

[2020-01-15 00:54] themightychris opened #218 "Redo registration page text"
Take out all the "about code for philly" content (maybe move it somewhere else?) and focus a shorter block on why register an account

As staff, go here to edit the register copy: https://codeforphilly.org/template/register/register

[2020-01-15 01:23] mariekers commented on #218
[Old Page Text](https://gist.github.com/mariekers/8e95624118671800ef429593af3fcbdb)

[2020-01-15 02:19] #218 closed, assigned to mariekers

[2020-01-15 02:19] #185 closed, assigned to chriscauley

[2020-01-15 02:19] #186 closed, assigned to chriscauley

[2020-01-15 02:20] themightychris opened #219 "Member Onboarding Questionnaire"
Implement [drafted onboarding questionnaire](https://docs.google.com/forms/d/1h-Lvf434GzXTVbv0vBk1NjLKnTKg-w5ZRicN64tM8SI/viewform?edit_requested=true) as a savable form on the site that users can be launched into immediately after registration, or return to later

Form should be driven by a roles and technologies taxonomy, e.g.:
- https://github.com/codeforamerica/civic-tech-taxonomy/tree/sites/d

[2020-01-15 02:23] themightychris commented on #219
Finished an initial bootstrap-ification of the form in #220 :

<img width="1235" alt="Screen Shot 2020-01-14 at 9 23 14 PM" src="https://user-images.githubusercontent.com/458494/72399418-1f2ae580-3714-11ea-8117-b36578554d46.png">

[2020-01-15 15:26] mariekers commented on #219
GORGEOUS

[2020-01-28 22:02] schlos commented on #203
Infos:
* https://metatags.io/
* https://css-tricks.com/essential-meta-tags-social-media/
* https://medium.com/slack-developer-blog/everything-you-ever-wanted-to-know-about-unfurling-but-were-afraid-to-ask-or-how-to-make-your-e64b4bb9254
* https://secure.phabricator.com/T13018

[2020-01-28 22:05] schlos commented on #56
Part of this is also in https://github.com/CodeForPhilly/laddr/issues/194

[2020-05-14 22:19] mariekers opened #222 "Update reCAPTCHA to v3"
[looks](https://github.com/google/recaptcha/issues/280) like it's pretty simple

[2020-05-22 09:28] schlos opened #223 "Hardening Improvements - security header recommendations"
Some recommendations from Sucuri:

- Missing security header for ClickJacking Protection. Alternatively, you can use Content-Security-Policy: frame-ancestors 'none'.
  - https://docs.sucuri.net/warnings/hardening/security-headers-x-frame-options/
    -  You can enable it by modifying your Apache settings or your `.htaccess` file - on server side
  - https://developer.mozilla.org/en-US/docs/Web/HTT

[2020-05-31 20:24] schlos commented on #112
Hi @themightychris,
503 error happens from time to time. Can I help somehow?

If I recall correctly, there is some restart that need to be done in order to resolve this, but this is now a manual process. Is that right?

I might help to create a small bash watchdog that would monitor is site is up or if it fails consecutively for few times it would perform a restart. Would that help? At least tempo

[2020-06-03 18:27] mariekers commented on #74
Only view projects in active stages - 'Hibernating' projects are still showing up in the list

[2020-06-03 19:03] themightychris opened #224 "Add option to disable project self-association"
Currently, anyone can add someone else or themselves as a member of a project.

Add a new configuration option at the site level that restricts adding new members to a project to site staff and existing project members

[2020-06-03 19:06] themightychris commented on #224
Or maybe a three-way setting:

- `public`: any registered user can add members to a project
- `members`: any member of a project can add members
- `leadership`: only maintainers of projects can add members

In all three cases, site-level staff/admins would still be able to add members

[2020-06-04 18:09] machow commented on #224
This makes a lot of sense to me--thanks for creating! I would say for me, the biggest motivation is the first bullet (restricting public users), just to avoid creating confusion around who is organizing the project.

[2020-11-20 04:03] tdooner opened #228 "Change default "contact form" email address from brigade-info@ CfA email"
We just got an email from someone who used [the "Contact Us" page](https://codeforcroatia.org/contact) on the codeforcroatia.org instance of Laddr. It happened to be spam, but that led me to investigate how we got it, and I noticed that the default email address for the contact form is brigade-info@. This strikes me as almost certainly not the place you want to send users, since they're not going

[2020-11-24 00:15] themightychris commented on #228
hmm yeah good point, probably best to disable the page and the nav entries for it unless a brigade-specific email address is configured

[2020-11-27 10:46] schlos opened #230 "Member directory layout improvement"
**Current:**
Member directory need some love. Avatars can be different sizes, names can be very long so it looks weird in current layout:
![Screenshot 2020-11-27 at 11 40 27](https://user-images.githubusercontent.com/1014134/100440667-868c2280-30a5-11eb-8f44-15ceac2d1dc1.png)

**Expected:**
My proposed solution is table with information such as:
- Avatar (image - small thumbnail)
- Name + indicati

[2020-12-09 20:56] mariekers commented on #219
One more question:
I am interested in volunteering: <1 hour/week, 1-2 hours/week, 3-4 hours/week, 5+ hours/week

[2022-08-03 02:23] themightychris commented on #222
Shipped in [v3.1.0](https://github.com/CodeForPhilly/laddr/releases/tag/v3.1.0)

[2022-08-03 02:23] #222 closed, assigned to nobody

[2022-10-05 00:31] themightychris opened #256 "project create page does not allow creating new tags"
<img width="691" alt="Screen Shot 2022-10-04 at 8 31 48 PM" src="https://user-images.githubusercontent.com/458494/193954596-6b91b1c6-5419-471e-b1ee-ff26350b95cb.png">